<div class="row">
  <div class="span6">
    <h1>Browse</h1>
  </div>
  <div class="span6">
    <form class="form-inline pull-right">
      <label>Data Directory</label>
      <input type="text">
      <button class="btn"  type="button">Update</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped">
      <thead id="browse_table_header">
        
      </thead>  
      <tbody id="browse_table_body">
        
      </tbody>
    </table>
  </div>
</div>
