<div class="row">
  <div class="span6">
    <h1>Browse</h1>
  </div>
  <div class="span6">
    <form class="form-inline pull-right">
      <label>Data Directory</label>
      <input type="text" id="browse_from">
      <button class="btn"  type="button">Update</button>
    </form>
  </div>
</div>
<div class="row hidden" id="browse_error_row">
  <div class="span12">
    <p id="browse_error"></p>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="pagination pagination-right">
      <ul>
        <li><button id="" class="btn browse_previous_page" disabled>&larr;</button></li>
        <li><button id="" class="btn browse_next_page" >&rarr;</button></li>
      </ul>
    </div>
  </div>

</div>
<div class="row">
  <div class="span12 table_container">
    <table class="table table-bordered table-condensed table-striped">
      <thead id="browse_table_header">
      </thead>  
      <tbody id="browse_table_body">
        
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="pagination pagination-right">
      <ul>
        <li><button class="btn browse_previous_page" disabled>&larr;</button></li>
        <li><button  class="btn browse_next_page" >&rarr;</button></li>
      </ul>
    </div>
  </div>

</div>
