<div class="row">
  <div class="span6">
    <h1>Browse</h1>
  </div>
  <div class="span6">
    <form class="form-inline pull-right">
      <label>Data Directory</label>
      <input type="text" id="browse_from">
      <button class="btn"  type="button">Update</button>
    </form>
  </div>
</div>
<div class="row hidden" id="browse_error_row">
  <div class="span12">
    <p id="browse_error"></p>
  </div>
</div>
<div class="row">
  <div class="span12 table_container" id="browse_table">
  </div>
</div>
