<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li id="detail_base"></li>
      <li>></li>
      <li id="detail_id"></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="well">
      <img id="item_img"></img>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <ul class="thumbnails" id="recommendation_list">
    </ul>
  </div>
</div>
<form class="form-inline">
  <label class="" for="image_url">Image URL</label>
  <input type="text" class="input-xxlarge"id="image_url">
  <button class="btn" id="update_url" type="button">Update</button>
</form>
